<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Data</title>
</head>
<body>
<form method="post" action="/get_client">
    <p>Nume:</p>
    <input type="text" id="name" name="name">
    <p>Prenume:</p>
    <input type="text" id="prenume" name="prenume">
    <p>CNP:</p>
    <input type="text" id="cnp" name="cnp">
    <p>Loc de munca:</p>
    <input type="text" id="loc_de_munca" name="loc_de_munca">
    <p>Functie:</p>
    <input type="text" id="functie" name="functie">
    <p>Studii:</p>
    <input type="text" id="studii" name="studii">
    <button type="submit">Send</button>
</form>
</body>
</html>
